.read {
    background-color: $mainColor;

    &_intro {

        display: flex;
        flex-direction: column;
        padding: 40px 10%;
        text-align: center;
        align-items: center;

        &_title {
            font-family: $mainFont;
            font-weight: 600;
            font-size: 2.8em;
            letter-spacing: -0.04em;
            color: #ffffff;
        }


        &_img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px 0;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            overflow: hidden;
           

            & img {
                width: 100%;
                object-fit: cover;
                margin: auto;
            }
        }



    }


}


.contact {
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20%; 

    &_form {
        &_info, &_date{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        &_date{
            margin-top: 10px;
        }
        
    } 
}


input {
    padding: 5px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 10px;
    border: 0px;
    background-color: #faf9f2;
    color: #74715f;
    font-weight: 400;
    
}

label {
    width: 100%;
    font-size: 1.2em;
}
