/*------------------------------
        NAVBAR MENU
-------------------------------*/

.nav,
.nav_neg {
        background-color: $bgColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 5%;
}


.nav_neg {
        background-color: $mainColor;
}


.navbar_links {
        display: flex;

        & li {
                padding: 0px 10px;
        }
}

.logo {
        width: 80px;
}

.navbar_links_text, .navbar_links_textneg,
.bttn_yellow {
        display: none;
}

.navbar_links_icons, .navbar_links_icons_neg {
        display: flex;
        width: 60px;
        height: 60px;
        border: 1px solid #000000;
        border-radius: 10px; 
        background-color: rgba(0, 0, 0, 0); 
        transition: 0.3s;
        &:hover{
                background-color: $secondaryColor;
        }  
}

.navbar_links_icons_neg {
        border: 1px solid #ffffff;
}

.navbar_links_icons_img, .navbar_links_icons_img_neg {
        object-fit: contain;
        width: 100%;
        padding: 8px;
}
.navbar_links_icons_img_neg {
        filter: invert(1);
}





