.bttn_green, .bttn_yellow {
    & button {
        cursor: pointer;
        padding: 12px 40px;
        border: solid 1px transparent;
        border-radius: 10px;
    }

}

.bttn_green{
    & button{
        color: white;
        background-color: $mainColor;
        transition: 0.5s;

        &:hover {
            background-color: $effectsColors;
            translate: 0 -5px;
        }
    }
}

.bttn_yellow {
        & button {
            background-color: $secondaryColor;
            border-radius: 30px;
            transition: 0.5s;

            &:hover {
                background-color: #ffeebe;
                border: solid 1px #8b7947;
            }
        }
    } 