
/*------------------------------
      COLORES
-------------------------------*/

$mainColor:#012F3D;
$bgColor:#ECEAE2;
$lightColor: #F8F5EA;
$secondaryColor:#DEC378;
$darkColor: #002836;
$effectsColors:#064d63;

/*------------------------------
      FUENTES
-------------------------------*/

$mainFont:'inter', helvetica, arial;
$secondaryFont: 'Jacques Francois', serif;
